*.env
*.json
*.csv
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
vulnparse_pin.log
data/
nvd_cache/
tests_output/
logs/
!config/**
.history/
.*
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/workflows/*.yaml
!sbom*